<template>
  <div
    class="h-screen max-w-screen m-0 p-0 overflow-hidden shadow bg-cover bg-no-repeat bg-fixed"
    style="background-image: url(https://mitienda.moda/img/login-desktop.695c98cc.jpg)"
  >
    <div class="flex items-center flex-col w-full mt-16">
      <div class="w-56 h-32 px-4 py-1 mt-40 ">
        <img src="https://mitienda.moda/img/logo.e38c8b41.png" alt="" />
      </div>
<div>
    </div>
      <div class="w-1/4 mt-20 text-center">
        <label
          class="font-sans text-xl text-white text-center font-semibold"
          for="number"
          >Ingrese el número de telefono de tu asesora independiente</label
        >
        <input
          type="text"
          class="w-full h-12 mt-12 px-2 py-4 bg-transparent border-solid border-2 rounded border-white text-2xl text-white font-semibold"
          placeholder="Telefono"
          v-model="phoneNumber"
          @keyup.enter="login()"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  components: {},
  data() {
    return {
      phoneNumber: ""
    };
  },
  created() {
    this.paswordLocalStorage();
  },
  methods: {
    login() {
      let phoneAccess = localStorage.getItem("password");
      if (this.phoneNumber == phoneAccess) {
        this.$router.push("/categorias");
      } else {
        console.log("Acceso no autorizado");
      }
    },
    paswordLocalStorage() {
      const phoneLogin = 7865470213;
      localStorage.setItem("password", phoneLogin);
    }
  }
};
</script>
