<template>
  <div class="maintop">
             

    <div class="flex justify-start ml-64 w-full">
        
      <h3 class="text-pink-600 text-xl font-semibold ml-12 mb-12">PRODUCTOS</h3>
      <div class="flex flex-wrap justify-center ">
<input type="text" v-model="buscar" class="form-control" placeholder="Buscar productos"/>    
     <br>

    
</div>
    </div>
    <div class="flex flex-wrap w-3/4 justify-center mt-8 ml-12">


    
      <div
        class="flex justify-center w-1/3 bg-white ml-40"
        v-for="product in items"
        :key="product.id"
      >
        <div
          class="w-full text-gray-700 text-left px-4 py-2 m-4 border-solid border-gray-700"
        >
          <img
            :src="`https://v3.tissini.app${product.images[0].url}`"
            :alt="product.name"
          />
          <button
            class="bg-pink-600 w-32 m-2 px-2 py-2 rounded-full text-white text-base mr-16"
            @click="
              setCartItem(
                product.id,
                product.name,
                product.price,
                product.images[0].url
              )
            "
          >
            <box-icon class="" name="cart" color="white"></box-icon> AGREGAR
          </button>
          <span class="font-sans text-lg text-pink-600 font-semibold"
            >${{ product.price }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["products"],
  data() {
    return {
      productCart: [],
      buscar: ''
    };
  },
  methods: {
    setCartItem(id, name, price, image) {
      this.productCart.push({
        id,
        name,
        price,
        image
      });
      this.$store.dispatch("setProductCart", { selected: this.productCart });
    }
  },

  computed: {
    items() {
      return this.products.filter(item => {
        return item.name.toLowerCase().includes(this.buscar.toLowerCase());
      });
    },

  }
  
};
</script>

<style>
  .maintop{
    margin-bottom: 100px;
    margin-top: 100px;
    width: 100%;
  }

  input.form-control {
    width: 500px;
    border: 1px solid gray;
    padding-top: 20px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 12px;
}
</style>



<style>
  .maintop{
    margin-bottom: 100px;
  }
</style>

