<template>
  <nav
    class="navtop flex items-center justify-between flex-wrap bg-white-500 p-6 w-full h-32"
  >
    <div class="flex-initial text-gray-700 ml-12">
      <span class="font-semibold text-xl text-pink-500 tracking-tight"
        >Ferchitos Store Tissini App</span
      >
    </div>
    <div class="flex-initial mr-12">
      <box-icon
        class="m-2"
        color="#f06292"
        type="solid"
        name="phone"
      ></box-icon>
     
      <box-icon v-on:click="logout" class="m-2" color="#f06292" name="exit"></box-icon>
     
    </div>
    <hr class="bg-gray-400 w-full h-1" />
  </nav>
</template>
<script>
import "boxicons";
export default {
  
  methods: {
      logout() {    
          localStorage.removeItem('password')
          this.$router.push('/')
    }
  }
};
</script>

<style>
.navfooter {
  position: fixed;
    z-index: 1000;
    bottom: 0;
}
.navtop{
   position: fixed;
    z-index: 1000;
    top: 0;
    background-color: white;
    
}

.head{
    margin-bottom: 100px;
    margin-top: 100px;
}
</style>
